h1 {
    text-align: center;
    color: rgb(146, 102, 41);
    font-style: oblique;
    background-color: rgb(236, 225, 244);
    font-size: 2rem;
}

.anup {
    float: left;
    text-align: left;
    background-color: aliceblue;
    margin-left: 1rem;
}
.anup h2 {
    color: rgb(18, 60, 105);
    font-size: large;
    font: bold;
    
}
.anp {
    font-size: 1rem;
    color: cadetblue;

}
p {
    font: bolder;
    color: rgb(67, 8, 56);
    
}
.ianup {
    float: left;
    height: 12rem;
    width: 8rem;
    margin-left: 1rem;
    border-top-left-radius: 40%;
    border-bottom-left-radius: 40%;
}
.arunsir {
    float: right;
    text-align: right;
    background-color: rgb(250, 253, 237);
    margin-right: 1rem;
    
    
}
.arunsir h2 {
    color: rgb(18, 60, 105);
    font-size: large;
    font: bold;
}
.arun {
    font-size: 1rem;
    color: cadetblue;
}
.iarun {
    float: right;
    height: 10rem;
    width: 8rem;
    margin-right: 1rem;
    margin-top: 12rem;
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
}
.ranjansir {
    float: left;
    text-align: left;
    background-color: aliceblue;
    margin-left: 1rem;

}
.ranjansir h2 {
    color: rgb(18, 60, 105);
    font-size: large;
    font: bold;
}
.ranjan {
    font-size: 1rem;
    color: cadetblue;
}
.iranjan {
    float: left;
    height: 10rem;
    width: 8rem;
    margin-left: 1rem;
    margin-top: 11rem;
    border-top-left-radius: 40%;
    border-bottom-left-radius: 40%;
}
.arvindsir {
    float: right;
    text-align: right;
    background-color: rgb(250, 253, 237);
    margin-right: 1rem;

}
.arvindsir h2 {
    color: rgb(18, 60, 105);
    font-size: large;
    font: bold;
}
.arvind {
    font-size: 1rem;
    color: cadetblue;
}
.iarvind {
    float: right;
    height: 10rem;
    width: 8rem;
    margin-right: 1rem;
    margin-top: 11rem;
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
}
.hemantsir {
    float: left;
    text-align: left;
    background-color: aliceblue;
    margin-left: 1rem;

}
.hemantsir h2 {
    color: rgb(18, 60, 105);
    font-size: large;
    font: bold;
}
.hemant {
    font-size: 1rem;
    color: cadetblue;
}
.ihemant {
    float: left;
    height: 9rem;
    width: 8rem;
    margin-left: 1rem;
    margin-top: 11rem;
    border-top-left-radius: 40%;
    border-bottom-left-radius: 40%;
}
.raashimam {
    float: right;
    text-align: right;
    background-color: rgb(250, 253, 237);
    margin-right: 1rem;

}
.raashimam h2 {
    color: rgb(18, 60, 105);
    font-size: large;
    font: bold;
}
.raashi {
    font-size: 1rem;
    color: cadetblue;
}
.iraashi {
    float: right;
    height: 9rem;
    width: 8rem;
    margin-right: 1rem;
    margin-top: 9.5rem;
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
}
.prabhnoormam {
    float: left;
    text-align: left;
    background-color: aliceblue;
    margin-left: 1rem;

}
.prabhnoormam h2 {
    color: rgb(18, 60, 105);
    font-size: large;
    font: bold;
}
.prabhnoor {
    font-size: 1rem;
    color: cadetblue;
}
.iprabhnoor {
    float: left;
    height: 9rem;
    width: 8rem;
    margin-left: 1rem;
    margin-top: 9.5rem;
    border-top-left-radius: 40%;
    border-bottom-left-radius: 40%;
}
footer {
    background-color: rgb(217, 241, 233);
    color: rgb(123, 32, 32);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-style: italic;
    margin-top: 75rem;
    text-align: center;
}
